#titulo-principal {
    color: #0066cc;
    text-align: center;
}

.parrafo-destacado {
    font-weight: bold;
    color: #ff6600;
}

#contenedor-principal {
    background-color: #f2f2f2;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #999;
}

.parrafo-normal {
    color: #333;
}
